.app-container {
  text-align: center;
}

.product-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.product-item {
  border: 1px solid #ddd;
  padding: 15px;
  width: 200px;
  border-radius: 10px;
}

.product-details {
  padding: 20px;
}

.filter-container {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin: 20px;
}

input {
  padding: 10px;
  margin: 20px;
}
